<div>

    <ul>
        <li>Code: {{newTicket.code}}</li>
        <li>Purchase Date Time: {{newTicket.purchase_datetime}}</li>
        <li>Amount: {{newTicket.amount}}</li>
        <li>Purchaser: {{newTicket.purchaser}}</li>
    </ul>

</div>